*.[oa]
*~
*.pyc
*.swk
*.swl
*.swn
*.swm
*.swo
*.swp
*.bin
*.gem
*.config
.DS_Store
/node_modules/
.idea
.vscode
npm-debug.log
/config/local*.*
_npm-shrinkwrap.json
_css_deps.js
_meta.json
npm-debug.log
node_modules
hash.json
__status.json
_babelcache.json
/static/*
